# Question 1

In [ ]:
# 1. Given two integer numbers return their product. If the product is greater than 1000, then return their sum.

In [13]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 1st number: "))
c= a*b
if c>1000:
    d = a+b 
    print(d)
else:
    print(c)

Enter 1st number: 833
Enter 1st number: 544
1377

# Question 2

In [ ]:
# 2. Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration
#  print the sum of the current number and previous number

In [19]:
li = list(range(10))
pn = 0
for i in li:
    x= pn + i
    print( 'Current Number '+ str(i) + ' Previous Number ' +  str(pn) + ' sum is ' + str(x))
    pn = i

Current Number 0 Previous Number 0 sum is 0
Current Number 1 Previous Number 0 sum is 1
Current Number 2 Previous Number 1 sum is 3
Current Number 3 Previous Number 2 sum is 5
Current Number 4 Previous Number 3 sum is 7
Current Number 5 Previous Number 4 sum is 9
Current Number 6 Previous Number 5 sum is 11
Current Number 7 Previous Number 6 sum is 13
Current Number 8 Previous Number 7 sum is 15
Current Number 9 Previous Number 8 sum is 17

# Question 3

In [ ]:
# 3. Print First 10 natural numbers using while loop.

In [17]:
i = 1
n = 10
while i<=n:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

# Question 4

In [ ]:
# 4. Accept number from user and calculate the sum of all number from 1 to a given number

In [11]:
sum = 0
n = int(input("Enter the number: "))
for i in range(1,n):
    sum  = sum + i
print(sum)

Enter the number: 10
45

# Question 5

In [ ]:
# 5. Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.

In [21]:
li = [10,15,20,23,43,32,21,300000,2333,23]
for i in li:
    div = i/5
    if div>150:
        break
    else:
        print(div)

2.0
3.0
4.0
4.6
8.6
6.4
4.2

# Question 6

In [ ]:
# 6. Reverse the following list using for loop

In [4]:
list = [1,2,3,4,5,6,7,8,9]

for i in range(len(list)//2):
    list[i],list[-1-i] = list[-1-i],list[i]
    
list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
list1=[10,20,25,30,45,35]
#list.reverse()
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

35
45
30
25
20
10

# Question 7

In [ ]:
# 7. Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function
# For example: print('My', 'Name', 'Is', 'Tamim') will display MyNameIsJames

# So use one of the formatting argument of print() to turn the output into My**Name**Is**Tamim

In [6]:
'My**Name**Is**Tamim'

'My**Name**Is**Tamim'

In [7]:
print('My**', 'Name**', 'Is**', 'Tamim')

My** Name** Is** Tamim

# Question 8

In [ ]:
# 8. Concatenate two lists index-wise

In [17]:
a = ["Iam","Student","DIU","in"]
b = [" a"," of"," Dept"," CSE"]

print("first list valu is : " + str(a))
print("2nd list valu is : " + str(b))

# res = list(map(lambda(i, j): i + j, zip(test_list1, test_list2)))

# res = list(map(lambda(i,j): i + j, zip(a,b)))

# res = [i + j for i, j in zip(test_list1, test_list2)]

res = [i + j for i, j in zip(a,b)]

print("The list After element concatente is : " +str(res))

first list valu is : ['Iam', 'Student', 'DIU', 'in']
2nd list valu is : [' a', ' of', ' Dept', ' CSE']
The list After element concatente is : ['Iam a', 'Student of', 'DIU Dept', 'in CSE']

# Skip this part

In [12]:



# Python3 code to demonstrate
# interlist element concatenation
# using list comprehension + zip()

# initializing lists
test_list1 = ["Geeksfor", "i", "be"]
test_list2 = ['Geeks', 's', 'st']

# printing original lists
print ("The original list 1 is : " + str(test_list1))
print ("The original list 2 is : " + str(test_list2))

# using list comprehension + zip()
# interlist element concatenation
res = [i + j for i, j in zip(test_list1, test_list2)]

# printing result
print ("The list after element concatenation is : " + str(res))

The original list 1 is : ['Geeksfor', 'i', 'be']
The original list 2 is : ['Geeks', 's', 'st']
The list after element concatenation is : ['GeeksforGeeks', 'is', 'best']

# Question 9

In [20]:
# Given a Python list of numbers. Turn every item of a list into its square
#

In [23]:
list = [1,2,3,4,5,6,7,8,9]
squ_nam = [list1 ** 2 for list1 in list]
print(squ_nam)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# Question 10

In [24]:
# 10. Access value 20 from the following tuple -> aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [25]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20